@model WebMarketMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj";
}
<div class="dashboard">
    <div class="navigation">
        <div class="nav-block">@Html.ActionLink("Panel użytkownika", "Index", "Manage")</div>
        <div class="nav-block">@Html.ActionLink("Sprzedaż", "GetOfferedProducts", "User")</div>
        <div class="nav-block">@Html.ActionLink("Zakupy", "GetOrders", "User")</div>
    </div>

    <div class="data">
        <h4>Zmień ustawienia konta</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Hasło:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Zmień hasło", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Utwórz", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>
