@model IEnumerable<WebMarket.Entities.Models.Order>

@{var products = Model.Select(o => o.Products).Distinct();}
<div class="dashboard">
    <div class="navigation">
        <div class="nav-block">@Html.ActionLink("Panel użytkownika", "Index", "Manage")</div>
        <div class="nav-block">@Html.ActionLink("Sprzedaż", "GetOfferedProducts", "User")</div>
        <div class="nav-block">@Html.ActionLink("Zakupy", "GetOrders", "User")</div>
    </div>

    <div class="data">
        <div style="position: relative">
            <h4>Zamówienia</h4>
        </div>

        <hr />

        <div class="flex-between">
            <svg class="bi bi-arrow-left-square-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="#c9d952" xmlns="http://www.w3.org/2000/svg" cursor="pointer" onclick="PagePrev()">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.354 10.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z" />
            </svg>

            <svg class="bi bi-arrow-right-square-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="#c9d952" xmlns="http://www.w3.org/2000/svg" cursor="pointer" onclick="PageNext()">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm5.646 10.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.793 7.5H5a.5.5 0 0 0 0 1h4.793l-2.147 2.146z" />
            </svg>
        </div>

        <hr />

        @foreach (var order in Model)
        {
            <div class="product">
                <div>
                    <h3>Data zakupu: @order.PurchaseTime.ToString("yyyy-MM-dd")</h3>
                    <hr />
                    <h5>Liczba produktów: @order.Products.Count</h5>
                    <h5></h5>
                </div>
            </div>
        }

        <hr />

        <div class="flex-between">
            <svg class="bi bi-arrow-left-square-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="#c9d952" xmlns="http://www.w3.org/2000/svg" cursor="pointer" onclick="PagePrev()">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.354 10.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z" />
            </svg>

            <svg class="bi bi-arrow-right-square-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="#c9d952" xmlns="http://www.w3.org/2000/svg" cursor="pointer" onclick="PageNext()">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm5.646 10.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.793 7.5H5a.5.5 0 0 0 0 1h4.793l-2.147 2.146z" />
            </svg>
        </div>

    </div>
</div>
